
h1{
	padding: 20px;
	border-radius: 25px;
	width: 50%;
	
	background: rgb(70,70,70);
	background: linear-gradient(0deg, rgba(70,70,70,1) 27%, rgba(101,101,101,1) 100%, rgba(255,255,255,1) 100%);
}

h4{
	padding: 20px;
	border-radius: 25px;

	
	background: rgb(70,70,70);
	background: linear-gradient(0deg, rgba(70,70,70,1) 27%, rgba(101,101,101,1) 100%, rgba(255,255,255,1) 100%);
}

label{
	padding: 20px;
	border-radius: 25px;
	width: 200px;
	background: rgb(70,70,70);
	background: linear-gradient(0deg, rgba(70,70,70,1) 27%, rgba(101,101,101,1) 100%, rgba(255,255,255,1) 100%);
}

div.min{
	height: 50%;
	width: 10%;

}
div.adjust {
	height: 50%;
width: 10%;
}

.footerlogo{
	width: 30%;
	height: 30%;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
.principal{
	width: 30%;
	height: 30%;
}
*{

	font-family: arial;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*Large devices only*/
@media (min-width: 992px) {

	h3,h2,h1,p,li,ul,td{
		text-align: center;
		margin: auto;
		width: 50%;
	}
	li{

	}
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}

		br,hr,div.phone {
display: none;
}

}

/********** Medium devices only **********/
@media (min-width: 480px) and (max-width: 991px) {
	
	.responsive {
		width: 100%;
	}
	br,hr,div.phone {
 display: block;
}
table,th,tr,div.pc {
	 display: none;
}
}

@media (min-width: 10px) and (max-width: 480px) {
	
	.responsive {
		width: 100%;
	}
		br,hr,div.phone {
display: block;
}
table,th,tr,div.pc {
	 display: none;
}
}

